<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/utility/head', { 'title': 'Fido2020' }); %>
</head>
<body>
    <%- include('partials/header', { 'showUserToolbar': true }); %>
    <main class="container">
        <%- include('partials/error'); %>
        <%- include('partials/messageForm'); %>
        <% if (messages.length === 0) { %>
            <div class="row justify-content-md-center">
                <div class="col-md-4">
                    <div class="alert alert-primary">No messages...</div>
                </div>
            </div>
        <% } else { %>
            <div class="row mt-3">
                <% for (const message of messages) { %>
                    <div class="col-md-4">
                        <% if (session.userID === message.user.id) { %>
                            <div class="card p-3 m-2 text-white bg-primary">
                        <% } else { %>
                            <div class="card p-3 m-2 text-white bg-secondary">
                        <% } %>
                            <h5 class="card-title">@<%= message.user.login %></h5>
                            <div class="card-text"><%= message.content %></div>
                            <time class="card-subtitle"><small><%= moment(message.createdAt).format('LLL') %></small></time>
                            <% if (session.administrator || session.userID === message.user.id) { %>
                                <div class="clearfix">
                                    <form class="ml-1 float-right" action="/message/<%= message.id %>/delete" method="POST">
                                        <input class="btn btn-sm btn-outline-light" type="submit" data-id="<%= message.id %>" value="Delete">
                                    </form>
                                    <form class="mr-1 float-right" action="/message/<%= message.id %>/edit" method="GET">
                                        <input class="btn btn-sm btn-outline-light" type="submit" data-id="<%= message.id %>" value="Edit">
                                    </form>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>
    </main>
    <%- include('partials/footer'); %>
</body>
</html>
